.text-{
    color:#64686d;
    writing-mode:vertical-lr;

    font-size:2em;
    
}
.n1{
    width:fit-content;
    padding-right: 1%;
    display: flex;
    align-items: center;
    margin-top: 2em;
    
}
.n2{
    width:fit-content;
    padding-right: 1%;
    display: flex;
    align-items: center;
    margin-top: 2em;
    
}
.bola{
    width: fit-content;
}
.linha1{
    font-size: 4em;
    display: flex;

    justify-content: flex-end;
    height: 10%;
}
.linha2{
 height: 90%;
}
.col-number{
    width: fit-content;
}
.tx1{
    transform: translateY(1em);
}
.tx2{
    transform: translateY(1.3em);
}
.tx3{
    transform: translateY(0.7em);
}
.tx4{
    transform: translateY(0.3em);
}
.text{ 
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #bfbfbf;
    writing-mode:vertical-lr;
    font-size:2em;
    padding-right: 1.5em;
    @media(min-width: 300px){
        font-size: 1em;
    }
}
.row-angular-text{
    display: flex;
    justify-content: center;
}
.number{
    align-items: flex-end;
    color: #bfbfbf;
    font-weight: bold;
    font-size:7em;
 
    @media screen and (max-width: 300px){
        font-size: 1em;
    }
}
.ano{
    font-weight: bold;
    color: #bfbfbf;
    transform: translateX(-5.5em);
    font-size: 5em;
    @media (max-width: 300px){
        transform: translateX(0);
        font-size: 1em;
    }

}
.slide-numeros{

    background: url("../../images/Template_Base.png");
    
}
.row-ano{
    padding-top: 1em;
    display: flex;
    justify-content: center;
}
