.text-{
    color:#64686d;
    writing-mode:vertical-lr;

    font-size:2em;
    
}
.n1{
    width:fit-content;
    padding-right: 1%;
    display: flex;
    align-items: center;
    margin-top: 2em;
    
}

.col-number{
    width: fit-content;
}
.tx1{
    transform: translateY(3.6em);
}
.tx2{
    transform: translateY(4em);
}
.tx3{
    transform: translateY(3.5em);
}
.tx4{
    transform: translateY(3em);
}

.text{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: white;
    writing-mode:vertical-lr;
    font-size:2em;
    padding-right: 1.5em;
}
.row-angular-text{
    display: flex;
    justify-content: center;
    background: url('../../images/Template_Base.png');
}
.number{
    align-items: flex-end;
    color: white;
    font-weight: bold;
    font-size:7em;
}
